<body>
<div style="padding: 20px">
  <div class="header">
    <h4>TodoList</h4>
    <span class="text-sm-right">
      connect to: {{apiService.getURL()}}
    </span>
    <span class="pull-right">
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="createTodo()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      Create
      </button>
    </span>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div *ngIf="isLoading" class="centered">
        <i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
      </div>

      <table class="table text-center" *ngIf="!isLoading">
        <thead>
        <tr>
          <th scope="col">IsComplete</th>
          <th scope="col">MyTask</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of todoList;let index = index">
          <td>
            <button type="button" class="btn btn-sm" [class.btn-success]="row.isComplete"
                    [class.btn-danger]="!row.isComplete" [ladda]="updateIsLoading[index]"
                    (click)="updateIscomplete(row)">
              <span *ngIf='!row.isComplete'>
              <i class="fa fa-times" aria-hidden="true"></i>
                No
              </span>
              <span *ngIf='row.isComplete'>
              <i class="fa fa-check" aria-hidden="true"></i>
                Yes
              </span>


            </button>
          </td>
          <td>{{row.name}}</td>
          <td>
            <div>
              <button type="button" class="btn btn-sm btn-outline-info" (click)="updateTodo(row)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Edit
              </button>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteTodo(row)">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Remove
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>

<app-form #form (created)="getTodoList()"></app-form>
<app-delete #delete (deleted)="getTodoList()"></app-delete>
